<div class="news_d_footer">
    <a href="{% url 'details_article' article.slug %}?action=like" class="btn btn-outline-success"><i class="lnr lnr lnr-heart"></i>Like</a>
    <a href="{% url 'details_article' article.slug %}?action=dislike" class="btn btn-outline-danger">Dislike</a>
    <a class="justify-content-center ml-auto" href="#"><i class="lnr lnr lnr-heart"></i>{{ article.likes_counter }} Likes</a>
    <a class="justify-content-center ml-auto" href="#"><i class="lnr lnr lnr-bubble"></i>{{ article.comments_counter }}</a>
</div>
