{% load static %}
{% load simple_tags %}

<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <form class="form_search" method="get" action="{% url 'search' %}">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Find your best home advice...">
                    <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
        </span>
                </div>
            </form>
            <!-- /input-group -->
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget author_widget">
            <img class="author_img rounded-circle" src="{% static "img/photo.png" %}" alt="">
            <h4>Sonya H.</h4>
            <p>Blog Owner</p>
        <a href=#"><i class="fa fa-lg fa-facebook">  </i></a>
        <a href="#"><i class="fa fa-lg fa-github">  </i></a>
        <a href="#"><i class="fa fa-lg fa-linkedin">  </i></a>

            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Most Read Articles</h3>
            {% most_popular_articles as popular_articles %}
            {% for popular_article in popular_articles %}
                <div class="media post_item">
                    <img src={{ popular_article.image.url }} alt="{{ popilar_article.title }}"
                         style="width:100px; height:65px">
                    <div class="media-body">
                        <a href="{% url 'details_article' slug=popular_article.slug %}">
                            <h3>{{ popular_article.title }}</h3></a>
                        <p>Visited: {{ popular_article.clicked_times }} times </p>
                    </div>
                </div>
            {% endfor %}
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget">
            <a href="#"><img class="img-fluid" src="{% static "img/blog/add.jpg" %}" alt=""></a>
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">All Categories You Can Browse</h4>
            <ul class="list cat-list">
                {% categories as categories %}
                {% for category in categories %}
                    <li>
                        <a href="{% url 'details_category' slug=category.slug %}"
                           class="d-flex justify-content-between">
                            <p>{{ category.title }}</p>
                            <p>{{ category.articles_counter }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="br"></div>
        </aside>
        <aside class="single-sidebar-widget tag_cloud_widget">
            <h4 class="widget_title">A Bunch Of Interesting Topics</h4>
            <ul class="list">
                {% tags as all_article_tags %}
                {% for article_tag in all_article_tags %}
                    <li><a href="{% url 'details_tags' slug=article_tag.slug %}">{{ article_tag }}</a></li>
                {% endfor %}

            </ul>
        </aside>
    </div>
</div>
