{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h1>{{ author.profile.first_name }}'s Articles</h1>
                    <div class="page_link">
                        <a href="{% url 'home' %}">Home</a>
                        <a>{{ author.profile.full_name }}'s Articles</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% if articles %}
                            {% for article in articles %}
                                <article class="blog_style1">
                                    <div class="blog_img">
                                        <img class="img-fluid" src="{{ article.image.url }}" alt="{{ article.title }}"
                                             style="width:100%;height:400px">
                                    </div>
                                    <div class="blog_text">
                                        <div class="blog_text_inner">
                                            {% for tag in article.tag.all %}
                                                <a class="cat button-read-more custom-tag"
                                                   href="{% url 'details_tags' slug=tag.slug %}">{{ tag.title }}</a>
                                            {% endfor %}
                                            <a href="{% url 'details_article' slug=article.slug %}">
                                                <h4>{{ article.title }}</h4>
                                            </a>
                                            <p>{{ article.intro|truncatechars:200|safe }}</p>
                                            <a class="button-read-more"
                                               href="{% url 'details_article' slug=article.slug %}"
                                               alt="{{ article.title }}">Read More</a>
                                            <div class="date">
                                                <a href="#">
                                                    <i class="fa fa-calendar"
                                                       aria-hidden="true"></i> {{ article.created_on|date:"F d, Y" }}
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-comments-o"
                                                       aria-hidden="true"></i> {{ article.comments_counter }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        {% else %}
                            <p style="font-size:20px;"><strong> Stay tuned! A new article is expected soon!
                                Go to <a href="/">Home</a></strong></p>
                        {% endif %}
                        {% if is_paginated and articles.has_other_pages %}
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
                                               aria-label="Previous">
                        <span aria-hidden="true">
                            <span class="lnr lnr-chevron-left"></span>
                        </span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a href="#" class="page-link" aria-label="Previous">
                                                <span aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for curr_page in paginator.page_range %}
                                        {% if page_obj.number == curr_page %}
                                            <li class="page-item active"><a href="#"
                                                                            class="page-link">{{ curr_page }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a href="?page={{ curr_page }}"
                                                                     class="page-link">{{ curr_page }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.next_page_number }}" class="page-link"
                                               aria-label="Next">
                        <span aria-hidden="true">
                            <span class="lnr lnr-chevron-right"></span>
                        </span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a href="#" class="page-link" aria-label="Next">
                                                <span aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
                {% include 'partials/side_bar.html' %}
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock %}