{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}


    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Change Your Password</h2>
                    <div class="page_link">
                        <a href="{% url 'home' %}">Home</a>
                        <a>Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Password Changed Successfully</h2>
                    <p>Your password has been changed successfully.</p>
                    <p><a href="{% url 'home' %}">Go back to the home page</a></p>
                </div>
                {% include 'partials/side_bar.html' %}
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}